.i_concept {
    color: #F9A246 !important;
}

.i_plan {
    color: #E65F66 !important;
}

.i_imple {
    color: #3E9DCC
}

.i_control {
    color: #42566F
}

.i_cierre {
    color: #dddddd
}

.dropdown-menu {
    z-index: 1000000 !important;
}

.dropdown-toggle-mandato {
    padding: 0 !important;
}

.dropdown-menu #genero:hover{
  background-color:#EF476F;
}

.dropdown-menu #salud:hover{
    background-color:#19EAD5;
  }

  .dropdown-menu #poblacion:hover{
    background-color:#FFE316;
  }


.i_genero {
    color: #EF476F
}

.i_poblacion {
    color: #FFE316
}

.i_salud {
    color: #19EAD5
}