.i_concept {
    color: #F9A246 !important;
}

.i_plan {
    color: #E65F66 !important;
}

.i_imple {
    color: #3E9DCC
}

.i_control {
    color: #42566F
}

.i_cierre {
    color: #dddddd
}

.dropdown-menu {
    z-index: 1000000 !important;
}

.dropdown-toggle-mandato {
    padding: 0 !important;
}

.dropdown-menu #genero:hover{
  background-color:#EF476F;
}

.dropdown-menu #desarrollo:hover{
    background-color:#19EAD5;
  }

  .dropdown-menu #poblacion:hover{
    background-color:#FFE316;
  }